.card-header {
  border-bottom: none;
  padding: 0;
}
.card-header-title {
  font-size: 1.1rem;
  padding: 0.35rem 1.25rem;
  color: white;
  display: inline-block;
}
/* post */
.card--post {
  border: 1px solid #13C20F;
}
.card-header--post {
  background-color: rgba(19,194,15,.1);
}
.card-header-title--post {
  background-color: #13C20F;
}
.tag--post {
  border: 1px solid #13C20F;
  background-color: #13C20F;
}
/* put */
.card--put {
  border: 1px solid #FF9000;
}
.card-header--put {
  background-color: rgba(255,144,0,.1);
}
.card-header-title--put {
  background-color: #FF9000;
}
.tag--put {
  border: 1px solid #FF9000;
  background-color: #FF9000;
}
/* patch */
.card--patch {
  border: 1px solid #FFDC00;
}
.card-header--patch {
  background-color: rgba(255,220,0,.1);
}
.card-header-title--patch {
  background-color: #FFDC00;
}
.tag--patch {
  border: 1px solid #FFDC00;
  background-color: #FFDC00;
}
/* get */
.card--get {
  border: 1px solid #2392F7;
}
.card-header--get {
  background-color: rgba(35,146,247,.1);
}
.card-header-title--get {
  background-color: #2392F7;
}
.tag--get {
  border: 1px solid #2392F7;
  background-color: #2392F7;
}
/* delete */
.card--delete {
  border: 1px solid #E30012;
}
.card-header--delete {
  background-color: rgba(227,0,18,.1);
}
.card-header-title--delete {
  background-color: #E30012;
}
.tag--delete {
  border: 1px solid #E30012;
  background-color: #E30012;
}
